.input {
	position: relative;
	display: flex;
	font-size: 1.5em;
	/* background: linear-gradient(21deg, #10abff, #1beabd); */
	background-size: 100% 100%;
	padding: 5px;
	border-radius: 9999em;
	box-shadow: 0px 0px 20px 15px #00ffff59;
	background-size: 250% 250%;
	
	background-image: repeating-linear-gradient(
		-45deg,
		#10abff 0%,  
		#1beabd 15%, 
		#1beabd 30%,  
		#10abff 45%  
	);
    animation: diagonal alternate 2s infinite;
}

.input *:not(span) {
	position: relative;
	display: inherit;
	border-radius: inherit;
	margin: 0;
	border: none;
	outline: none;
	padding: 0 .325em;
	z-index: 1; 
	
}

.input *:not(span):focus + span {
	opacity: 1;
	transform: scale(1);
}

.input span {
	transform: scale(.993, .94); 
	transition: transform .5s, opacity .25s;
	opacity: 0;
	position: absolute;
	z-index: 0; 
	margin: 4px; 
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border-radius: inherit;
	pointer-events: none; 
	box-shadow: inset 0 0 0 3px #ffffff, 0 0 0 4px #ffffff, 3px -3px 30px #1beabd, -3px 3px 30px #10abff;
}

.input-field {
    background-color: transparent;
}

.input img{
	width: 50px;
	object-fit: cover;
	cursor: pointer;
	/* padding: 5px; */
	margin: 5px;
	
}